@section style {
    <style>
        form {
            margin: auto;
            width: 50%;
            text-align: center
        }

        input {
            text-align: center;
        }
    </style>
}

<h1>Crear Empleado</h1>

<hr />
<form method="post">
    <label class="form-label">Apellido:</label>
    <input name="apellido" class="form-control" />
    <label class="form-label">Oficio:</label>
    <input name="oficio" class="form-control" />
    <label class="form-label">Director:</label>
    <input name="dir" class="form-control" />
    <label class="form-label">Salario:</label>
    <input name="salario" class="form-control" />
    <label class="form-label">Comision:</label>
    <input name="comision" class="form-control" />
    <label class="form-label">Nombre Departamento:</label>
    <input name="dept" class="form-control" />
    <br />
    <button class="btn btn-outline-dark">Crear</button>
</form>